body {

    /*background-image:  url('collage1.jpg');*/
    background-image:  url('images/wallpaper.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0
    text-align: center; 
    font-family: 'Source Sans Pro';
}

article {
    /* settings for wallpaper background*/
    background-color: white;
    opacity: 0.7;
    display: block;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 100%;
    overflow: scroll;
}

.label {
    font-size: 11px;
    fill: black;
    text-anchor: middle;
}

.class{
    background-color: white;
    opacity: 0.6;
}

#header {
    background-image: url(https://i.makeagif.com/media/7-06-2015/Mc-qZI.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 300%;
    line-height: .75;
    margin: 10% 0 10%;
    font-style: italic;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

p{
    text-align: justify;
    width: 96%;
    margin-left: 2%;
    text-indent: 3%;
}

ul {
  list-style-type: none;
  margin: 0 0 5% 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

h2{
    font-style: italic;
}
