body {
    text-align: center;
}

text {
    font-family: sans-serif;
}

article {
    margin: 0 auto;
    width: 75%;
}

.svgContainer {
    display: inline-block;
}

.brushed {
    fill: #ff3399;
    stroke: #8e1b54;
    opacity: 1.0;
}

.non_brushed {
    fill: #404040;
    opacity: 0.5;
}