body {
    text-align: center;
}

article {
    margin: 0 auto;
    text-align: left;
    width: 70%;
}

svg {
    display: block;
    margin: auto;
}

.label {
    font-size: 11px;
    fill: black;
    text-anchor: middle;
}